<div class="gallery row">
  <% @recent_huhackday.each do |item| %>
    <div class="col-sm-3">
      <div class="media">
        <div class="city">
          <%= city_by_lat_long(item['location']['latitude'], item['location']['longitude']) %>
        </div>
        <div class="image">
          <%= image_tag(item['images']['thumbnail']['url'], class: 'img-thumbnail',
          :'data-image-standard'=> item['images']['standard_resolution']['url']) %>
          <div class="actions row">
            <div class="col-sm-6 text-left">
              <%= link_to "", media_path(media: item), method: :post, remote: true, class: 'heart' %>
            </div>
            <div class="col-sm-6 text-right">
              <%= link_to "", "#", class: 'trash' %>
            </div>
          </div>
        </div>
        <div class="user">
          <%= image_tag(item['user']['profile_picture'], class: 'img-profile') %>
          <span class="username"><%= item['user']['username'] %></span>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%= render 'shared/modal', actions: 'shared/modal_dashboard_actions' %>
