<script>
  $(function(){
    $('.media img').on('click', function (e) {
      e.preventDefault();
      var $this = $(e.target).closest('.media');
      var modal_media = $('#media-modal');
      modal_media.find('#modal-city').text($this.find('.city').text());
      modal_media.find('.image').attr('src', $this.find('img').attr('data-image-standard'));
      modal_media.find('.img-profile').attr('src', $this.find('.img-profile').attr('src'));
      modal_media.find('.username').text($this.find('.username').text());
      modal_media.modal('show');
    });
  });
</script>

<div class="gallery row">
  <% @recent_huhackday.each do |item| %>
    <div class="col-sm-3">
      <div class="media">
        <div class="city">
          <%= city_by_lat_long(item['location']['latitude'], item['location']['longitude']) %>
        </div>
        <div class="image">
          <%= image_tag(item['images']['thumbnail']['url'], class: 'img-thumbnail',
          :'data-image-standard'=> item['images']['standard_resolution']['url']) %>
          <div class="actions row">
            <div class="col-sm-6 text-left">
              <%= link_to "", media_path(media: item), method: :post, remote: true, class: 'icon-heart-o' %>
            </div>
            <div class="col-sm-6 text-right">
              <%= link_to "", "#", class: 'icon-trash-o' %>
            </div>
          </div>
        </div>
        <div class="user">
          <%= image_tag(item['user']['profile_picture'], class: 'img-profile') %>
          <span class="username"><%= item['user']['username'] %></span>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="modal fade" id="media-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modal-city"></h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-6">
            <div class="user">
              <img src="" alt="" class="img-profile">
              <span class="username"></span>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="actions text-right">
              <%= link_to "", media_path, method: :post, remote: true, class: 'icon-heart-o' %>
              <%= link_to "", "#", class: 'icon-trash-o' %>
            </div>
          </div>
        </div>
        <img src="" alt="" class="image">
      </div>
    </div>
  </div>
</div>
