<h2>Passo 1 - Cadastro</h2>

<div class='row'>
  <h4><%= t('.sign_up', :default => "Sign up") %></h4>
  <%= form_for @user, url: user_instagram_index_path do |f| %>
    <div class='col-md-2'>
      <img src='' style="width: 150px; height: 150px">
    </div>
    <div class='col-md-4'>
      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, class: "form-control" %>
      </div>
    </div>
    <div class='col-md-4'>
      <div class="form-group">
        <%= f.label :instagram_username %>
        <%= f.text_field :instagram_username, class: "form-control" %>
      </div>
    </div>
    <div class='col-md-2'>
      <div class="form-group">
        <%= f.submit t('.sign_up', :default => "Sign up"), class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>

<h2>Passo 2 - Hashtag</h2>

<h2>Passo 3 - Receba créditos</h2>
