<div class="landscape">
  <div class="row">
    <div class="col-sm-12">
      <h1>No HU Rewards suas fotos valem muito</h1>

      <div class='col-sm-3'>
        <%= image_tag 'iphone.jpg', class: "iphone" %>
      </div>
      <div class='col-sm-9'>
        <div class="signup">
          <h2>Passo 1 - Cadastre-se</h2>
          <p>É necessário que você faça um pequeno cadastro para que possamos <strong>entrar em contato com você</strong> caso sua foto seja selecionada. Informe um <strong>email para contato</strong> e seu <strong>username no instagram</strong>.</p>
            <%= form_for @user, url: user_instagram_index_path do |f| %>
            <div class="row">
            <div class='col-sm-3'>
              <div class="form-group">
                <%= f.label :email, "Email para contato" %>
                <%= f.email_field :email, autofocus: true, placeholder: "Digite seu email", class: "form-control" %>
              </div>
            </div>
            <div class='col-sm-3'>
              <div class="form-group">
                <%= f.label :instagram_username, "Usuário no Instagram" %>
                <%= f.text_field :instagram_username, placeholder: "Digite seu usuário",class: "form-control" %>
              </div>
            </div>
            <div class='col-sm-3'>
              <div class="form-group">
                <%= f.submit t('.sign_up', :default => "Vou Participar"), class: "btn btn-primary button-signup" %>
              </div>
            </div>
            <div class='col-sm-9'>
              <div class="form-group">
                <%= check_box_tag :sign_up, value: true, class: "inputAccept" %> <span class="inputAccept">Li e aceito os <%= link_to 'termos de uso de imagem', '#', data: { toggle: 'modal', target: '#terms-modal' } %>.</span>
              </div>
           </div>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class='col-sm-3'>
    </div>
    <div class='col-sm-9'>
      <h2>Passo 2 - Hashtag</h2>
    </div>
  </div>
  <div class="col-sm-12">
    <div class="digauhu">
      <span class="title-hashtag">
        #DIGAUHUU <br>
      </span>
      <span>
        Para enviar sua imagem é simples, basta seguir os passos abaixo: <br>
        - Postar sua foto no Instagram com a <strong>hashtag #digauhuu na legenda</strong>.<br>
        - No momento da postagem<strong> ativar a geolocalização</strong>.<br>
        - Seu perfil do Instagram precisa ser <strong>público</strong>.<br>
      </span>
    </div>
  </div>
</div>

<div class="row credits">
  <div class="col-sm-12">
    <div class='col-sm-3'>
    </div>
    <div class='col-sm-9'>
      <h2>Passo 3 - Receba créditos</h2>
    </div>
    <div class='col-sm-3'><%= image_tag 'creditos1.jpg' %></div>
    <div class='col-sm-4'><%= image_tag 'creditos2.jpg' %></div>
    <div class='col-sm-5'>
      <span>Se sua foto for aprovada você <strong>receberá R$ 10,00 em créditos</strong> diretamente na sua conta do HU. <br><br>
      Além disso, suas fotos serão <strong>utilizadas em nossas campanhas e site</strong> com uma marca d`água com seu usuário do Instagram nela. <br><br>
      É o seu <strong>trabalho sendo divulgado no maior site de viagem da América Latina!</strong></span>
    </div>
    <div class="col-sm-12"><%= image_tag 'creditos3.jpg' %></div>
  </div>
</div>

<div class="row credits">
  <div class="col-sm-12">
      <h2 class="text-center">_______ Créditos _______</h2>
      <div class="social">
        <%= link_to "", "https://pt-br.facebook.com/hotelurbanobr", class: 'facebook' %>
        <%= link_to "", "https://twitter.com/hotel_urbano", class: 'twitter' %>
        <%= link_to "", "https://plus.google.com/+HotelUrbano", class: 'googleplus' %>
      </div>
  </div>
</div>

<footer class="footer-landscape">
  <p class="text-center">
    <strong>Alguma dúvida?</strong><br>
    (21) 2108-8845
  </p>
</footer>

<div class="modal fade modal-terms" id="terms-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="modal-city">Regulamento - #huhackday Instagram</h4>
      </div>
      <div class="modal-body row">
        <p>
          O concurso “#huhackday” é realizado pelo Hotel Urbano Viagens e Turismo S.A., sediado na Avenida Ayrton Senna nº 2150, bl. I, sala 204, Barra da Tijuca, CEP 22775-900, inscrito no CNPJ/MF sob o nº 12.954.744/0001-24 (doravante denominado simplesmente "Hotel Urbano”), e é aberta a todas as pessoas físicas capazes, maiores de 18 anos, residentes no Brasil, que desejarem participar.
        </p>
        <p>
          1. SOBRE O CONCURSO
          O concurso intitulado “#huhackday” será realizado através da participação voluntária e gratuita dos interessados, sem quaisquer modalidades de sorteio ou pagamento pelos participantes, nem vinculação à aquisição ou ao uso de qualquer produto, bem, direito ou serviço do Hotel Urbano. 
          O intuito do concurso é premiar os viajantes que enviarem fotos e vídeos que forem selecionados pelo HU para uso de conteúdo institucional e de anúncios de venda da empresa.
        </p>
        <p>
          2. PARTICIPANTES
          O presente concurso é aberto a todas as pessoas físicas capazes, maiores de 18 anos, que desejarem participar de forma gratuita e que possuírem um perfil válido na rede social Instagram (www.instagram.com).
          Todo o material enviado a este concurso poderá ser utilizado pelo Hotel Urbano em qualquer espécie de mídia, com os devidos créditos ao autor através da aplicação de uma marca D`agua indicando o Instagram do participante que a enviou.
          É vedada a participação de sócios e colaboradores do Hotel Urbano, assim como seus respectivos parentes de 1º grau.
          Será considerado autor da foto ou do vídeo apenas o participante que enviar a foto ou o vídeo para concurso. Este participante será o único e exclusivo responsável por obter a autorização de uso de imagem das demais pessoas que estejam nas imagens enviadas ao concurso.
        </p>
        <p>
          3. PARTICIPAÇÃO
          Para participar o usuário deve seguir os seguintes passos:
          §  Ter um perfil válido na rede social Instagram.
          §  Seguir o perfil oficial do Hotel Urbano no Instagram:  http://instagram.com/hotelurbano
          §  Marcar a foto ou o vídeo com o qual deseja participar com a hashtag #huhackday com a geolocalização ativada.
        </p>
        <p>
          Em caso de imagens ou vídeos iguais ou parecidos, será considerada o primeiro postado.
          Cada participante poderá participar do concurso com quantas imagens e vídeos quiser. O participante receberá a quantia de R$10 de crédito no site do Hotel Urbano por foto ou vídeo selecionado para uso da empresa. Além disso, o participante também receberá os devidos créditos de autor através da aplicação de uma marca D`agua em seu conteúdo, indicando o endereço do seu Instagram.
          Serão desclassificados desta promoção participações em caso de fraude comprovada, participações através da obtenção de benefício/vantagem de forma ilícita, pelo não cumprimento de quaisquer das condições deste regulamento ou pelo conteúdo expor cenas de abuso, violência, sexo, ofensas religiosas e afins.
          No caso de suspeita de fraude, poderá ser solicitado ao participante, a qualquer tempo, mesmo durante o período de participação do concurso, a apresentação de seus dados pessoais, sob pena de desclassificação imediata do mesmo.
        </p>
        <p>
          4.PREMIAÇÃO                                                                                                                       
          Cada participante poderá participar do concurso com quantas imagens e vídeos quiser. O participante receberá a quantia de R$10 de crédito no site do Hotel Urbano por foto ou vídeo selecionado para uso da empresa. Além disso, o participante também receberá os devidos créditos de autor através da aplicação de uma marca D`agua em seu conteúdo, indicando o endereço do seu Instagram.
        </p>
        <p>
          5. SELEÇÃO DAS IMAGENS E VÍDEOS
          A escolha das imagens e vídeos enviados pelos participantes, e que serão usadas pelo Hotel Urbano, deverão ser selecionadas pela equipe de Produção da empresa.
          A avaliação e escolha dessas imagens seguirá o critério da equipe responsável.
        </p>
        <p>
          6. DIVULGAÇÃO DOS SELECIONADOS
          Não haverá data de divulgação específica. O usuário será notificado assim que sua foto for selecionada pela equipe de Produção do Hotel Urbano. O participante será, primeiramente, notificado via private no Instagram onde será convidando acessar o site via um link e se cadastrar/logar no site do Hotel Urbano e concordar com os termos de uso de imagem.
        </p>
        <p>
          7. ENTREGA DO CRÉDITO
          Os ganhadores serão notificados por Instagram com um link para eles se cadastrarem ou logarem no site do Hotel Urbano. Após esse passo ele receberá em até 5 dias úteis o crédito em sua conta no Hotel Urbano.
        </p>
        <p>
          8. CONSIDERAÇÕES FINAIS
          Os participantes declaram estar cientes e de acordo com todos os itens aqui descritos, incluindo a cessão de direitos do vídeo por um período de 2 (dois) anos.
          Ao se inscreverem, os participantes garantem que as imagens e os vídeos são de sua autoria e/ou que possuem os respectivos direitos autorais e, no caso de imagens ou vídeos com pessoas, que possuem autorização das mesmas para a sua publicação e exposição. Os participantes assumem total e exclusiva responsabilidade a respeito de todas e quaisquer eventuais reivindicações de terceiros, incluindo, mas não se limitando às reivindicações de direitos de imagem e direitos autorais de terceiros que se sintam prejudicados com relação aos vídeos publicados.
          O Hotel Urbano se reserve ao direito de alterar qualquer item deste regulamento sem aviso prévio.
          Este regulamento estará disponível no endereço https://www.facebook.com/notes/hotel-urbano/regulamento-vivamaishist%C3%B3rias-instagram/850221918340019 ao longo do período de vigência do Concurso.
        </p>
      </div>
      <div class="modal-footer row">
        <a href='#' type="button" class="btn btn-default" data-dismiss="modal">Fechar</a>
      </div>
    </div>
  </div>
</div>
